
*.iml
*.xml
*.pt
*.pyc
__pycache__
*.npz
*.npz.zip
checkpoint/InfoGAN/MNIST/model_final_MNIST
*.gz
notebooks/MNIST/raw/train-labels-idx1-ubyte
data
WGAN-GP/celebA
*.zip
*.1
*.0
CGAN/logs/fake
WGAN/logs/fake
WGAN-GP/logs/fake
CycleGAN/logs/fake
DCGAN/logs/fake
CGAN/logs/real
WGAN/logs/real
WGAN-GP/logs/real
CycleGAN/logs/real
DCGAN/logs/real
